{% extends 'character/layout.html' %}

{% block content %}
<h1>{{character.title}}</h1>
<div class="card">
    <div class="card-content">
        <table>
            <thead>
                <tr>
                    <th>{{character.name}}</th>
                    <td>HP: {{derivedStats.HP}}</td>
                    <td>Speed: {{derivedStats.SPEED}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Level: {{derivedStats.LEVEL}}</td>
                    <td>XP: {{character.XP}}</td>

                <tr>
                    <td>Guard: {{derivedStats.GUARD}}</td>
                    <td>Toughness: {{derivedStats.TOUGHNESS}}</td>
                    <td>Resolve: {{derivedStats.RESOLVE}}</td>
                </tr>
                </tr>
                    <td></td>
                    <td></td>
                    <td><a href="/admin/character/character/{{character.id}}" class='btn'>Edit Character</a></td>
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <table>
            <thead>
              <tr>
                  <th>Attribute</th>
                  <th>Value</th>
                  <th>Dice</th>
              </tr>
            </thead>          
            <tbody>
              {% for item in attributeArray %}
              <tr>
                <td>{{item.0}}</td>
                <td>{{item.1}}</td>
                <td><a href="/diceresult/{{item.1}}">{{item.2}}</a></td>
              </tr>
            {% endfor %}
            <tr>
                <td>Available Stat Points: {{derivedStats.STATPOINTS}}</td>
                <td>Total Stat Points: {{statTotal}}</td>
                <td>Remaining Stat Points: {{remaining}}</td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
<a href="/character" class='btn'>Go Back</a>
{% endblock %}