{% extends 'character/layout.html' %}

{% block content %}
{% for item in resultlist %}
<p>{{item}}</p>
{% endfor %}
<h1>{{returnvalue}}</h1>
<a class='btn' onclick="goBack()">Go Back</a>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}