{% extends 'character/layout.html' %}

{% block content %}
<h1>{{title}}</h1>
<ul.class="collection">
    {%for character in characters %}
        <li class="collection-item"><a href="/character/details/{{character.id}}">{{character.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}