{% extends 'character/layout.html' %}

{% block content %}
<h1>Welcome to the homepage!</h1>

<h3><a style="display: block" class="center-align" href="/character">Click here to go to the Character page.</a></href></h3>

{% endblock %}